.content {
  width: 900px;
  margin: 0 auto;
}
.content .hide {
  display: none;
}
.info-header {
  display: flex;
  justify-content: space-around;
}
.info-header-tab {
  font-size: 40px;
  cursor: pointer;
}
.description-title {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
}



