.hide {
  display: none;
}
.wrapp {
  display: flex;
  justify-content: space-around;
}
.tab {
  font-size: 40px;
  cursor: pointer;
}
.description-title {
  text-align: center;
  font-size: 50px;
}
.active{
  color: red;
}


